# Ignore all files
*

# Use WizBot project
!src/WizBot/**
# Use WizBot.Coordinator project
!src/WizBot.Coordinator/**
# Use Generators project
!src/WizBot.Generators/**
# Use Ayu stuff
!src/ayu/**

# ignore bin and obj folders in projects
src/**/bin/*
src/**/obj/*