[data-md-color-scheme="wizbot"] {
    /* Default color shades */
    --md-primary-fg-color: #590074;
    --md-primary-fg-color--light: #590074;
    --md-primary-fg-color--dark: #590074;
    --md-default-bg-color: #0b0b0b;

    /* Code Color Shade */
    --md-code-fg-color: hsla(0, 18%, 86%, 1);
    --md-code-bg-color: hsla(0, 15%, 15%, 1);

    /* Footer color shades */
    --md-footer-bg-color: rgb(25 26 27);
    --md-footer-bg-color--dark: rgb(25 26 27);
}